table {
    width: 100%;
    max-width: 90%; 
    margin: 20px auto;
    border-collapse: collapse;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px; 
    color: #ffffff; 
    text-shadow: 2px 2px 10px #000000, 0 0 25px #000000, 0 0 5px #6b0404; 
    text-align: center; 
    margin: 20px 0; 
    padding: 20px; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}


th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #b34d4d;
    color: white;
}

td a {
    text-decoration: none;
    color: #b34d4d;
}


@media (max-width: 768px) {
    table {
        width: 100%;
        max-width: none;
    }

    th, td {
        font-size: 14px;
    }

    .pagination {
        font-size: 14px;
    }
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-link {
    padding: 10px 20px;
    background-color: #b34d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.pagination-link:hover {
    background-color: #7e3232;
}

.pagination span {
    font-size: 16px;
    color: #333;
}

